.header-title {
    background-color: #FFFFFF;
    color: #3366FF;
    font-size: 50px;
}

/*#name, #firstname, #email, #phone, #select-building, #office, #select-upload-file, #select-printing-format, #select-minimum-delivery-date,
#format-size, #comments {
    margin-top: 15px;
    font-weight: bold;
}*/

.form-component { /* format-size */
    margin-top: 15px;
    font-weight: bold;
    border-radius: 3px;
    padding-left: 0.5%;
}

.header-title, #logo, .lang {
    display: inline;
    margin-right: 10%;
}

body, .header, .content{
    background-color: #FFFFE2;
    text-align: center;
}

#btnSend {
    background-color: #3366FF;
    color: #FFFFFF;
    border-radius: 4px;
}

#formatHeight, #formatWidth {
    width: 80px;
}

.footer {
    background-color: #C1D1EB;
}

/*
.column1 {
    margin-right: 5%;
    width:17%
}

.column2 {
    margin-left: 5%;
    width:17%
}*/

.column1, .column2 {
    margin-left: 5%;
    margin-right: 5%;
    width:17%
}

#format-size {
    display: inline;
}

#footer-left, #footer-right {
    display: inline-block;
    margin-right: 5%;
}

#footer-left {
    text-align: left;
}

#footer-right {
    text-align: right;
}

input::placeholder, .select-default-value, textarea::placeholder {
  font-weight: bold;
}

